{% extends "user/dashboardBase.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <!-- begin row -->
    <div class="row">
        <div class="col-md-12 m-b-30">
            <!-- begin page title -->
            <div class="d-block d-sm-flex flex-nowrap align-items-center">
                <div class="page-title mb-2 mb-sm-0">
                    <h1>Chat</h1>
                </div>
                <div class="ml-auto d-flex align-items-center">
                    <nav>
                        <ol class="breadcrumb p-0 m-b-0">
                            <li class="breadcrumb-item">
                                <a href="{% url 'user:dashboard' %}">
                                    <i class="ti ti-home"></i>
                                </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active text-primary">
                                Chat
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- end page title -->
        </div>
    </div>
    <!-- end row -->
    <!--mail-read-contant-start-->
    <div class="row">
        <div class="col-12">
            <div class="card card-statistics">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-xl-4 col-xxl-3">
                            <div class="app-chat-sidebar border-right border-md-n h-100">
                                <div class="app-chat-sidebar-search px-4 pb-4 pt-4 border-bottom">
                                    <div class="input-group">
                                        <input aria-describedby="basic-addon1"
                                            class="form-control border-right-0"
                                            placeholder="Pesquisar..." type="text">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="ti ti-search magnifier"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="app-chat-sidebar-user scrollbar scroll_dark">
                                    <div class="app-chat-sidebar-user-item">
                                        <a href="javascript:void(0)">
                                            <div class="d-flex active">
                                                <div>
                                                    <div class="bg-img">
                                                        <img class="img-fluid"
                                                            src="assets/img/avtar/01.jpg"
                                                            alt="user">
                                                        <i class="bg-img-status bg-success"></i>
                                                    </div>
                                                </div>
                                                <div>
                                                    <h5 class="mb-0">João</h5>
                                                    <p class="text-white"><span><i
                                                                class="zmdi zmdi-check mr-2"></i></span>
                                                        Gostei de você</p>
                                                    <div class="d-xl-none">
                                                        <small>Agora</small>
                                                        <span class="badge badge-success">5</span>
                                                    </div>
                                                </div>
                                                <div class="ml-auto text-right d-none d-xl-block">
                                                    <small>Agora</small>
                                                    <span class="badge badge-success">5</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="app-chat-sidebar-user-item">
                                        <a href="javascript:void(0)">
                                            <div class="d-flex">
                                                <div class="bg-img">
                                                    <img class="img-fluid"
                                                        src="assets/img/avtar/02.jpg" alt="user">
                                                </div>
                                                <div>
                                                    <h5 class="mb-0">Jennyns Leyon</h5>
                                                    <p><span><i
                                                                class="zmdi zmdi-check mr-2"></i></span>Como
                                                        você está</p>
                                                    <small class="d-xl-none">Ontem</small>
                                                </div>
                                                <div class="ml-auto text-right d-none d-xl-block">
                                                    <small>Ontem</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="app-chat-sidebar-user-item">
                                        <a href="javascript:void(0)">
                                            <div class="d-flex">
                                                <div class="bg-img">
                                                    <img class="img-fluid"
                                                        src="assets/img/avtar/03.jpg" alt="user">
                                                    <i class="bg-img-status bg-success"></i>
                                                </div>
                                                <div>
                                                    <h5 class="mb-0">Felipe </h5>
                                                    <p><span><i
                                                                class="zmdi zmdi-check-all mr-2"></i></span>Obrigado
                                                    </p>
                                                    <div class="d-xl-none">
                                                        <small>30 Set</small>
                                                        <span class="badge badge-success">35</span>
                                                    </div>
                                                </div>
                                                <div class="ml-auto text-right d-none d-xl-block">
                                                    <small>30 Set</small>
                                                    <span class="badge badge-success">35</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="app-chat-sidebar-user-item">
                                        <a href="javascript:void(0)">
                                            <div class="d-flex">
                                                <div class="bg-img">
                                                    <img class="img-fluid"
                                                        src="assets/img/avtar/04.jpg" alt="user">
                                                    <i class="bg-img-status bg-danger"></i>
                                                </div>
                                                <div>
                                                    <h5 class="mb-0">Ana</h5>
                                                    <p><span><i
                                                                class="zmdi zmdi-check mr-2"></i></span>
                                                        Esperarei você responder...</p>
                                                    <div class="d-xl-none">
                                                        <small>25 Set</small> <span
                                                            class="badge badge-success">15</span>
                                                    </div>
                                                </div>
                                                <div class="ml-auto text-right d-none d-xl-block">
                                                    <small>25 Set</small> <span
                                                        class="badge badge-success">15</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="app-chat-sidebar-user-item">
                                        <a href="javascript:void(0)">
                                            <div class="d-flex">
                                                <div>
                                                    <div class="bg-img">
                                                        <img class="img-fluid"
                                                            src="assets/img/avtar/05.jpg"
                                                            alt="user">
                                                    </div>
                                                </div>
                                                <div>
                                                    <h5 class="mb-0">Adriana</h5>
                                                    <p><span><i
                                                                class="zmdi zmdi-check mr-2"></i></span>Oi...
                                                    </p>
                                                    <small class="d-xl-none">20 Set</small>
                                                </div>
                                                <div class="ml-auto text-right d-none d-xl-block">
                                                    <small>20 Set</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="app-chat-sidebar-user-item">
                                        <a href="javascript:void(0)">
                                            <div class="d-flex">
                                                <div class="bg-img">
                                                    <img class="img-fluid"
                                                        src="assets/img/avtar/06.jpg" alt="user">
                                                    <i class="bg-img-status bg-success"></i>
                                                </div>
                                                <div>
                                                    <h5 class="mb-0">Leo</h5>
                                                    <p><span><i
                                                                class="zmdi zmdi-check-all mr-2"></i></span>Obrigado
                                                    </p>
                                                    <div class="d-xl-none">
                                                        <small>15 Out</small>
                                                        <span class="badge badge-success">45</span>
                                                    </div>
                                                </div>
                                                <div class="ml-auto text-right d-none d-xl-block">
                                                    <small>15 Out</small>
                                                    <span class="badge badge-success">45</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="app-chat-sidebar-user-item">
                                        <a href="javascript:void(0)">
                                            <div class="d-flex">
                                                <div class="bg-img">
                                                    <img class="img-fluid"
                                                        src="assets/img/avtar/07.jpg" alt="user">
                                                </div>
                                                <div>
                                                    <h5 class="mb-0">Andre</h5>
                                                    <p><span><i
                                                                class="zmdi zmdi-check mr-2"></i></span>Olá
                                                        tem como esperar 5 min...
                                                    </p>
                                                    <div class="d-xl-none">
                                                        <small>06 Out</small>
                                                        <span class="badge badge-success">9+</span>
                                                    </div>
                                                </div>
                                                <div class="ml-auto text-right d-none d-xl-block">
                                                    <small>06 Out</small>
                                                    <span class="badge badge-success">9+</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="app-chat-sidebar-user-item">
                                        <a href="javascript:void(0)">
                                            <div class="d-flex">
                                                <div class="bg-img">
                                                    <img class="img-fluid"
                                                        src="assets/img/avtar/08.jpg" alt="user">
                                                </div>
                                                <div>
                                                    <h5 class="mb-0">Julia</h5>
                                                    <p><span><i
                                                                class="zmdi zmdi-check mr-2"></i></span>Então,
                                                        com isso
                                                        já posso começar a programar...</p>
                                                    <small class="d-xl-none">30 Mar</small>
                                                </div>
                                                <div class="ml-auto text-right d-none d-xl-block">
                                                    <small>30 Mar</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="app-chat-sidebar-user-item">
                                        <a href="javascript:void(0)">
                                            <div class="d-flex">
                                                <div class="bg-img">
                                                    <img class="img-fluid"
                                                        src="assets/img/avtar/09.jpg" alt="user">
                                                    <i class="bg-img-status bg-danger"></i>
                                                </div>
                                                <div>
                                                    <h5 class="mb-0">Jimm</h5>
                                                    <p><span><i
                                                                class="zmdi zmdi-check-all mr-2"></i></span>Ok
                                                    </p>
                                                    <div class="d-xl-none">
                                                        <small>30 Mar</small>
                                                        <span class="badge badge-success">25</span>
                                                    </div>
                                                </div>
                                                <div class="ml-auto text-right d-none d-xl-block">
                                                    <small>30 Mar</small>
                                                    <span class="badge badge-success">25</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-xxl-9 border-md-t">
                            <div class="app-chat-msg">
                                <div
                                    class="d-flex align-items-center justify-content-between p-3 px-4 border-bottom">
                                    <div class="app-chat-msg-title">
                                        <h4 class="mb-0">João</h4>
                                        <p class="text-success">
                                            Online
                                        </p>
                                    </div>
                                    <div class="app-chat-msg-btn">
                                        <a class="font-20 text-muted btn" href="javascript:void(0)">
                                            <i class="fa fa-video-camera"></i>
                                        </a>
                                        <a aria-expanded="false" aria-haspopup="true"
                                            class="font-20 text-muted btn pr-0"
                                            data-toggle="dropdown" href="javascript:void(0)">
                                            <i class="fa fa-gear"></i>
                                        </a>
                                        <div
                                            class="dropdown-menu custom-dropdown dropdown-menu-right p-4">
                                            <h6>Ações</h6>
                                            <a class="dropdown-item" href="javascript:void(0)">
                                                <i class="ti ti-pencil pr-2"></i>Renomear
                                            </a>
                                            <a class="dropdown-item" href="javascript:void(0)">
                                                <i class="ti ti-announcement pr-2"></i>Marcar como
                                                não lido
                                            </a>
                                            <a class="dropdown-item" href="javascript:void(0)">
                                                <i class="ti ti-close pr-2"></i>Fechar
                                            </a>
                                            <a class="dropdown-item" href="javascript:void(0)">
                                                <i class="ti ti-trash pr-2"></i>Deletar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="scrollbar scroll_dark app-chat-msg-chat p-4">
                                    <div class="chat">
                                        <div class="chat-img">
                                            <a data-placement="left" data-toggle="tooltip"
                                                href="javascript:void(0)">
                                                <div class="bg-img">
                                                    <img class="img-fluid"
                                                        src="assets/img/avtar/01.jpg" alt="user">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="chat-msg">
                                            <div class="chat-msg-content">
                                                <p>Oi Orlando, vi sua mentoria em python.</p>
                                                <p>Você pode me ajudar?</p>
                                            </div>
                                            <div class="chat-msg-content ">
                                                <p>Acho melhor começar do basico.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center py-4">
                                        <h6>30 Out</h6>
                                    </div>
                                    <div class="chat chat-left justify-content-end">
                                        <div class="chat-msg">
                                            <div class="chat-msg-content">
                                                <p>Eai joão vou ver um dia para marcarmos a
                                                    mentoria.</p>
                                                <p>Por favor pode me passar seu nome completo?</p>
                                            </div>
                                            <div class="chat-msg-content ">
                                                <p>Agradeço.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat">
                                        <div class="chat-img">
                                            <a data-placement="left" data-toggle="tooltip"
                                                href="javascript:void(0)">
                                                <div class="bg-img">
                                                    <img class="img-fluid"
                                                        src="assets/img/avtar/01.jpg" alt="user">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="chat-msg">
                                            <div class="chat-msg-content ">
                                                <p>Blz vou mandar João Pedro </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat">
                                        <div class="chat-img">
                                            <a data-placement="left" data-toggle="tooltip"
                                                href="javascript:void(0)">
                                                <div class="bg-img">
                                                    <img class="img-fluid"
                                                        src="assets/img/avtar/01.jpg" alt="user">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="chat-msg">
                                            <div class="chat-msg-content">
                                                <p>Se tiver para semana que vem pode ser.</p>
                                                <p>Precisa ter microfone e camera?</p>
                                            </div>
                                            <div class="chat-msg-content ">
                                                <p>Só tenho fone.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center py-4">
                                        <h6>31 Out</h6>
                                    </div>
                                    <div class="chat chat-left justify-content-end">
                                        <div class="chat-msg">
                                            <div class="chat-msg-content">
                                                <p>Fala João tenho sim para semana que vem.</p>
                                                <p>Camera nao e necessaria</p>
                                            </div>
                                            <div class="chat-msg-content ">
                                                <p>Marcado para o dia 10/11.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat">
                                        <div class="chat-img">
                                            <a data-placement="left" data-toggle="tooltip"
                                                href="javascript:void(0)">
                                                <div class="bg-img">
                                                    <img class="img-fluid"
                                                        src="assets/img/avtar/01.jpg" alt="user">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="chat-msg">
                                            <div class="chat-msg-content ">
                                                <p>Ok.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat">
                                        <div class="chat-img">
                                            <a data-placement="left" data-toggle="tooltip"
                                                href="javascript:void(0)">
                                                <div class="bg-img">
                                                    <img class="img-fluid"
                                                        src="assets/img/avtar/01.jpg" alt="user">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="chat-msg">
                                            <div class="chat-msg-content">
                                                <p>....</p>
                                                <p>Até?</p>
                                            </div>
                                            <div class="chat-msg-content ">
                                                <p>Falou.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center py-4">
                                        <h6>9/11/2024</h6>
                                    </div>
                                    <div class="chat chat-left justify-content-end">
                                        <div class="chat-msg">
                                            <div class="chat-msg-content">
                                                <p>Enviando mensagem só para avisar que amanha.</p>
                                                <p>Temos a melhor mentoria em python</p>
                                            </div>
                                            <div class="chat-msg-content ">
                                                <p>Não se esqueça.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat">
                                        <div class="chat-img">
                                            <a data-placement="left" data-toggle="tooltip"
                                                href="javascript:void(0)">
                                                <div class="bg-img">
                                                    <img class="img-fluid"
                                                        src="assets/img/avtar/01.jpg" alt="user">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="chat-msg">
                                            <div class="chat-msg-content ">
                                                <p>Ok.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat">
                                        <div class="chat-img">
                                            <a data-placement="left" data-toggle="tooltip"
                                                href="javascript:void(0)">
                                                <div class="bg-img">
                                                    <img class="img-fluid"
                                                        src="assets/img/avtar/01.jpg" alt="user">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="chat-msg">
                                            <div class="chat-msg-content">
                                                <p>Ok.</p>
                                                <p>Ok</p>
                                            </div>
                                            <div class="chat-msg-content ">
                                                <p>Ate amanhã.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center py-4">
                                        <h6>Hoje</h6>
                                    </div>
                                    <div class="chat chat-left justify-content-end">
                                        <div class="chat-msg">
                                            <div class="chat-msg-content">
                                                <p>Boa tarde iniciamos as 17:00.</p>
                                                <p>Já está pronto?</p>
                                            </div>
                                            <div class="chat-msg-content ">
                                                <p>Vamos começar.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat">
                                        <div class="chat-img">
                                            <a data-placement="left" data-toggle="tooltip"
                                                href="javascript:void(0)">
                                                <div class="bg-img">
                                                    <img class="img-fluid"
                                                        src="assets/img/avtar/01.jpg" alt="user">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="chat-msg">
                                            <div class="chat-msg-content ">
                                                <p>Entrei.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="app-chat-type">
                                <div class="input-group mb-0 ">
                                    <div class="input-group-prepend d-none d-sm-flex">
                                        <span class="input-group-text">
                                            <i class="fa fa-smile-o">
                                            </i>
                                        </span>
                                    </div>
                                    <input class="form-control" placeholder="Escreva aqui..."
                                        type="text">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-paper-plane"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--mail-read-contant-end-->
</div>

{% endblock content %}