<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro | InovaDev</title>
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="container-left" style="background-image: url({% static '/img/tela.png' %});">
        </div>
        <div class="container-right">
            <div class="grid">
                <div class="logo">
                    <img src="{% static 'img/logo.png' %}" alt="InovaDev logo">
                </div>
                <h1 style="margin: 20px 0 ">Cadastre-se gratuitamente</h1>
                <form method="POST">
                    {% csrf_token %}
                    <div class="input-field">
                        <label for="{{ form.nome.id_for_label }}" >Nome</label>
                        <div class="input-square">
                            {{ form.nome }}
                        </div>
                    </div>
                    <div class="input-field">
                        <label for="{{ form.cpf.id_for_label }}" class="mt-7">CPF</label>
                        <div class="input-square">
                            {{ form.cpf }}
                        </div>
                    </div>
                    <div class="input-field">
                        <label for="{{ form.gmail.id_for_label  }}" class="mt-7">E-mail</label>
                        <div class="input-square">
                            {{ form.gmail }}
                        </div>
                    </div>
                    <div class="input-field">
                        <label for="{{ form.dataNascimento.id_for_label }}" class="mt-7">Data de Aniversário</label>
                        <div class="input-square">
                            {{ form.dataNascimento }}
                        </div>
                    </div>
                    
                    <div class="input-field">
                        <label for="{{ form.telefone.id_for_label }}" class="mt-7">Celular</label>
                        <div class="input-square">
                            {{ form.telefone }} 
                        </div>
                    </div>
                    
                    <div class="input-field">
                        <label for="{{ form.senha.id_for_label }}" class="mt-7">Senha</label>
                        <div class="input-square">
                            {{ form.senha }}
                        </div>
                    </div>
                    <div class="input-field">
                        <label for="{{ form.senha.typeUser }}" class="mt-7">O que você ser?</label>
                        {{ form.typeUser }}
                    </div>
                    <button class="btn-login">Cadastrar-se gratuitamente</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>