<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
        <title>Cadastro | InovaDevConsultoria</title>
    </head>

    <body>
        <div class="container">
            <div class="form-image">
                <img src="{% static 'img/undraw_shopping_re_3wst.svg' %}" alt="">
            </div>
            <div class="form">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-header">
                        <div class="title">
                            <h1>Aluno</h1>
                        </div>
                        <div class="login-button">
                            <button><a href="../login">Entrar</a></button>
                        </div>
                    </div>

                    <div class="input-group">
                        <div class="input-box">
                            <label for="{{ form.nome.id_for_label }}">Primeiro Nome</label>
                             {{ form.nome }}
                        </div>

                        <div class="input-box">
                            <label for="{{ form.cpf.id_for_label }}">CPF</label>
                             {{ form.cpf }}
                        </div>

                        <div class="input-box">
                            <label for="{{ form.gmail.id_for_label }}">E-mail</label>
                            {{ form.gmail }}
                        </div>

                        <div class="input-box">
                            <label for=" {{ form.telefone.id_for_label }}">Celular</label>
                            {{ form.telefone }}
                        </div>

                        <div class="input-box">
                            <label for="{{ form.dataNascimento.id_for_label }}">Data Nascimento</label>
                            {{ form.dataNascimento }}
                        </div>

                        <div class="input-box">
                            <label for="{{ form.typeUser.id_for_label }}">O que você busca ser?</label>
                            {{ form.typeUser }}
                        </div>

                        <div class="input-box">
                            <label for=" {{ form.senha.id_for_label }}">Senha</label>
                            {{ form.senha }}
                        </div>

                        <!-- ACRESCENTAR VALIDAÇÃO DAS DUAS SENHAS -->
                         <div class="input-box">
                            <label for="confirmPassword">Confirme sua Senha</label>
                            <input id="confirmPassword" type="password" name="confirmPassword"
                                placeholder="Digite sua senha novamente" required>
                        </div> 

                    </div>

                    <div class="continue-button">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                    <div class=errors>
                        {% if messages %}
                                {% for message in messages %}
                                    <span >{{ message }}</span>
                                {% endfor %}
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </body>

</html>