{% extends "user/dashboardBase.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <!-- begin row -->
    <div class="row">
        <div class="col-md-12 m-b-30">
            <!-- begin page title -->
            <div class="d-block d-lg-flex flex-nowrap align-items-center">
                <div class="page-title mr-4 pr-4 border-right">
                    <h1>Cofiguração do Usuário</h1>
                </div>
                <div class="breadcrumb-bar align-items-center">
                    <nav>
                        <ol class="breadcrumb p-0 m-b-0">
                            <li class="breadcrumb-item">
                                <a href="{% url 'user:dashboard' %}"><i class="ti ti-home"></i></a>
                            </li>
                            <li class="breadcrumb-item">
                                Perfil
                            </li>

                        </ol>
                    </nav>
                </div>
                <div class="ml-auto d-flex align-items-center secondary-menu text-center">
                    <a href="javascript:void(0);" class="tooltip-wrapper" data-toggle="tooltip"
                        data-placement="top" title="" data-original-title="Todo list">
                        <i class="fe fe-edit btn btn-icon text-primary"></i>
                    </a>
                    <a href="javascript:void(0);" class="tooltip-wrapper" data-toggle="tooltip"
                        data-placement="top" title="" data-original-title="Projects">
                        <i class="fa fa-lightbulb-o btn btn-icon text-success"></i>
                    </a>
                    <a href="javascript:void(0);" class="tooltip-wrapper" data-toggle="tooltip"
                        data-placement="top" title="" data-original-title="Task">
                        <i class="fa fa-check btn btn-icon text-warning"></i>
                    </a>
                    <a href="javascript:void(0);" class="tooltip-wrapper" data-toggle="tooltip"
                        data-placement="top" title="" data-original-title="Calendar">
                        <i class="fa fa-calendar-o btn btn-icon text-cyan"></i>
                    </a>
                    <a href="javascript:void(0);" class="tooltip-wrapper" data-toggle="tooltip"
                        data-placement="top" title="" data-original-title="Analytics">
                        <i class="fa fa-bar-chart-o btn btn-icon text-danger"></i>
                    </a>
                </div>
            </div>
            <!-- end page title -->
        </div>
    </div>
    <!-- Notification -->

    <!-- end row -->
    <!-- begin row -->
    <div class="row account-contant">
        <div class="col-12">
            <div class="card card-statistics">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-xl-3 pb-xl-0 pb-5 border-right">
                            <div class="page-account-profil pt-5">
                                <div class="profile-img text-center rounded-circle">
                                    <div class="pt-5">
                                        <div class="bg-img m-auto">
                                            <img src="assets/img/avtar/01.jpg" class="img-fluid"
                                                alt="users-avatar">
                                        </div>
                                        <div class="profile pt-4">
                                            <h4 class="mb-1">Marco</h4>
                                            <p>Senior</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="py-5 profile-counter">
                                    <ul class="nav justify-content-center text-center">
                                        <li class="nav-item border-right px-3">
                                            <div>
                                                <h4 class="mb-0">90</h4>
                                                <p>Mentorias</p>
                                            </div>
                                        </li>

                                        <li class="nav-item border-right px-3">
                                            <div>
                                                <h4 class="mb-0">1.5K</h4>
                                                <p>Mensagens</p>
                                            </div>
                                        </li>

                                        <li class="nav-item px-3">
                                            <div>
                                                <h4 class="mb-0">230</h4>
                                                <p>Alunos</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="profile-btn text-center">
                                    <div><button class="btn btn-light text-primary mb-2">Upload Nova
                                            foto de Perfil</button></div>
                                    <div><button class="btn btn-danger">Deletar</button></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-md-6 col-12 border-t border-right">
                            <div class="page-account-form">
                                <div class="form-titel border-bottom p-3">
                                    <h5 class="mb-0 py-2">Edite suas Configurações Pessoais</h5>
                                </div>
                                <div class="p-4">
                                    <form>
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="name1">Nome Completo</label>
                                                <input type="text" class="form-control" id="name1"
                                                    value="Marco">

                                                    {{ form.nomeZ }}
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary">Atualizar
                                            Informações</button>
                                    </form>


                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 border-t col-12">
                            <div class="page-account-form">
                                <div class="form-titel border-bottom p-3">
                                    <h5 class="mb-0 py-2">Links Externos</h5>
                                </div>
                                <div class="p-4">
                                    <form>
                                        <div class="form-group">
                                            <label for="fb">Facebook URL:</label>
                                            <input type="text" class="form-control" id="fb"
                                                value="https://www.facebook.com/">
                                        </div>
                                        <div class="form-group">
                                            <label for="tr">Twitter URL:</label>
                                            <input type="text" class="form-control" id="tr"
                                                value="https://twitter.com/">
                                        </div>

                                        <div class="form-group">
                                            <label for="li">LinkedIn URL:</label>
                                            <input type="text" class="form-control" id="li"
                                                value="https://in.linkedin.com/">
                                        </div>

                                        <div class="form-group">
                                            <label for="we">Website URL:</label>
                                            <input type="text" class="form-control" id="we"
                                                value="https://yourwebsite.com/">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Atualizar
                                            Informações</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--mail-Compose-contant-end-->
</div>

{% endblock content %}