<!DOCTYPE html>
{% load static %}
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>InovaDevConsultoria</title>
    <meta name="viewport" content="width=device-width, inital-scale=1.0" >
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleindex.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsivo.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
  <body>
    <main class="apresentacao">
      <div class="center">
        </a>
        <div class="">
          <a href="#" id="menu-mobile">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
        <nav class="menu" id="menu">
          <ul>
            <li class="menu__li">
              <a href="{% url 'user:user_login' %}" class="menu__link">Entrar</a>
            </li>
          </ul>
        </nav>
        <div class="clear"></div>
        <section class="apresentacao__box">
          <div class="apresentacao__descricao">
            <h2 class="title-apresentacao">Inova <strong>Dev</strong> <br>Consultoria</h2>
            <p class="descricao-apresentacao">Plataforma de mentoria individual para programadores, <br>conectando iniciantes e experientes a especialistas <br>por meio de videochamadas. Focada no aprendizado contínuo, <br>promove uma comunidade colaborativa onde os usuários <br>evoluem suas habilidades com suporte personalizado <br>e interação direta com mentores.</p>
            <a href="#" class="bt-red">Começe Já</a>
          </div>
          <div class="apresentacao__video">
            <img src="././static/img/videoprinc.png" alt="" class="img-responsiva">
          </div>
          <div class="clear"></div>
        </section>

        <section class="icones">
          <div class="box-wrapper">
            <div class="box-icone">
              <img src="./static/img/device.png" alt="">
            </div>
            <h6 class="box-icone__titulo">Acesse em qualquer lugar</h6>
            <p class="box-icone__texto">Tenha a liberdade de <br>aprender em qualquer lugar</p>
          </div>
          <div class="box-wrapper">
            <div class="box-icone box-icone--red">
              <img src="./static/img/horario.png" alt="">
            </div>
            <h6 class="box-icone__titulo">Horário Flexível</h6>
            <p class="box-icone__texto">Aprenda a <br>qualquer hora.</p>
          </div>
          <div class="box-wrapper">
            <div class="box-icone">
              <img src="./static/img/icone-3.png" alt="">
            </div>
            <h6 class="box-icone__titulo">Aprendizado <br>Continuo.</h6>
            <p class="box-icone__texto">Sempre atualize  <br>seu aprendizado.</p>
          </div>
          <div class="box-wrapper">
            <div class="box-icone">
              <img src="./static/img/acesso.png" alt="">
            </div>
            <h6 class="box-icone__titulo">Comunidade Colaborativa</h6>
            <p class="box-icone__texto">Compartilhe conhecimentos, habilidades <br>para alcançar suas metas.</p>
          </div>
          <div class="clear"></div>
        </section>
      </div>

      <section class="" id="about">
        <div class="center">
          <div class="box-ilustracao">
            <div class="box-ilustracao__content">
              <img src="{% static '/img/ilustracao.png' %}" alt="" class="img-responsiva"> 
            </div>
          </div>
          <div class="about-box">
            <h5 class="about-box__title">
              <span>Sobre</span>
              <div class="clear"></div>
            </h5>
            <h4 class="about-box__subtitle">Aprenda com InovaDev</h4>
            <ul>
              <li class="item-list-about">
                <i class="checklist"></i>
                <span>Experiencia Única</span>
                <div class="clear"></div>
              </li>
              <li class="item-list-about">
                <i class="checklist"></i>
                <span>Conecta iniciantes e experientes a especialistas</span>
                <div class="clear"></div>
              </li>
              <li class="item-list-about">
                <i class="checklist"></i>
                <span>Usuários evoluem suas habilidades com suporte personalizado</span>
                <div class="clear"></div>
              </li>
              <li class="item-list-about">
                <i class="checklist"></i>
                <span>mentoria individual para programadores</span>
                <div class="clear"></div>
              </li>
              <li class="item-list-about">
                <i class="checklist"></i>
                <span>Sessões de mentoria por meio de videochamadas</span>
                <div class="clear"></div>
              </li>
              <li class="item-list-about">
                <i class="checklist"></i>
                <span>Suporte personalizado e interação direta com mentores</span>
                <div class="clear"></div>
              </li>
            </ul>
            <div class="box-buttons-about">
              <a href="#" class="bt-red bt-know-more">Saiba Mais</a>
              <a href="#" class="bt-watch-video">
                <span>Assistir ao vídeo</span>
                <i class="icon-video"></i>
                <div class="clear"></div>
              </a>
            </div>
          </div>
          <div class="clear"></div>
        </div>

      </section>

      <section class="testimonial">
        <div class="center">
          <div class="box-testemunha">
            <h2 class="titulo-testemunhas">Depoimento</h2>
            <h5 class="subtitulo-testemunhas">"Histórias de sucesso dos nossos programadores"</h5>

          </div>

          <div class="swiper-container swiper-container-testemunhas">
            <div class="swiper-wrapper">
              <div class="swiper-slide box-testemunha">
                <div class="testemunha-imagem">
                  <img src="{% static 'img/john-doe.png' %}" alt=""> 
                </div>
                <span class="testemunha-nome">Luiz Henrique</span>
                <span class="testemunha-profissao">Front-End</span>
                <p class="testemunha-texto">“A plataforma transformou minha carreira como programador! A possibilidade de conversar <br>diretamente com especialistas e receber feedback personalizado”</p>
              </div>
              <div class="swiper-slide box-testemunha">
                <div class="testemunha-imagem">
                  <img src="{% static 'img/john-doe.png' %}" alt="">
                </div>
                <span class="testemunha-nome">Jonathan</span>
                <span class="testemunha-profissao">Java-Developer</span>
                <p class="testemunha-texto">“Como iniciante, eu estava perdido em meio a tantas informações. A mentoria individual me deu a orientação necessária e um plano de aprendizado claro. <br>Agora, me sinto mais confiante”</p>
              </div>
              <div class="swiper-slide box-testemunha">
                <div class="testemunha-imagem">
                  <img src="{% static 'img/john-doe.png' %}" alt="">
                </div>
                <span class="testemunha-nome">Kalliel</span>
                <span class="testemunha-profissao">Back-End</span>
                <p class="testemunha-texto">“Participar das sessões de mentoria foi uma das melhores decisões que tomei. A interação direta com mentores experientes me ajudou a superar obstáculos técnicos e <br>melhorar minhas habilidades rapidamente.”</p>
              </div>
              <div class="swiper-slide box-testemunha">
                <div class="testemunha-imagem">
                  <img src="{% static 'img/john-doe.png' %}" alt="">
                </div>
                <span class="testemunha-nome">Marco</span>
                <span class="testemunha-profissao">Full-Stack</span>
                <p class="testemunha-texto">“A plataforma não só me conectou com mentores excelentes, mas também me proporcionou uma rede de colegas programadores com quem pude compartilhar experiências e  <br> aprender ainda mais. Foi um divisor de águas para minha carreira.”</p>
              </div>


            </div>

          </div>
          <div class="swiper-pagination swiper-pagination-testemunhas"></div>

        </div>

      </section>

      <section class="our-story">
        <div class="center">
          <h2 class="title-historia">Nossa História</h2>
          <h5 class="subtitle"></h5>
          <div class="our-story__content">
            <div class="our-story__box">
              <img class="our-story__icon" src="{% static 'img/passarinho.png' %}" alt="">
              <div class="our-story__wrapper">
                <h6 class="our-story__title">Quem somos nós?</h6>
                <p class="our-story__text">Somos uma plataforma de mentoria individual para programadores</b>, conectando <b>iniciantes</b> e <b>experientes</b> a <b>especialistas</b> por meio de <b>videochamadas</b>.<br>
                  Focamos no <b>aprendizado contínuo</b> e na <b>comunidade colaborativa</b>, oferecendo <b>suporte personalizado</b> para o desenvolvimento de habilidades e avanço profissional.<br>
                  Nossa missão é facilitar o crescimento dos programadores, proporcionando uma experiência interativa e de alta qualidade.</p>
              </div>

            </div>
            <div class="our-story__box">
              <img class="our-story__icon" src="{% static 'img/mao.png' %}" alt=""> 
              <div class="our-story__wrapper">
                <h6 class="our-story__title">Por que do Nome?</h6>
                <p class="our-story__text">"InovaDev Consultoria" combina a ideia de inovação com desenvolvimento, criando uma imagem de uma empresa que está na vanguarda das soluções tecnológicas e que oferece expertise para ajudar seus clientes a evoluir e inovar no campo da programação. O nome transmite um compromisso com a modernidade, a criatividade e a excellence no desenvolvimento de software.</p>
              </div>

            </div>
            <div class="clear"></div>
          </div>
        </div>
      </section>

      <section class="post">
        <div class="center">
          <h2 class="title-historia">Mentorias Recentes</h2>
          <h5 class="subtitle"></h5>
          <div class="posts">
            <div class="swiper-container-posts swiper-container">
              <div class="swiper-wrapper" id="posts-slider">


              </div>
            </div>
            <div class="swiper-pagination swiper-pagination-posts"></div>
          </div>
        </div>
      </section>

      <section class="newsletter">
        <div class="center">
          <div class="newsletter__box">
            <div class="newsletter__wrapper">
              <div class="newsletter__content">
                <span class="newsletter__text">Para Saber Mais<br>Inscreva-Se</span>
                <form action="" method="post" class="newsletter__form">
                  <div class="newsletter__box-input">
                    <div class="newsletter__input-box">
                      <input type="text" name="" value="" class="newsletter__input" placeholder="Entre com e-mail">
                    </div>
                  </div>
                  <div class="newsletter__box-submit">
                    <input class="newsletter__submit" type="submit" name="" value="">
                  </div>
                </form>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="center">
          <div class="footer__box">
            <p class="footer__descricao">Fatec Araras Rua Jarbas Leme Godoy<br>+55 19 3541-3004.</p>
          </div>

          <nav class="footer__links">
            <strong class="footer__titulo">Links Rapidos</strong>
            <ul>
              <li class="footer__menu-item"><a  href="#" class="footer__link">Sobre Nós</a></li>
              <li class="footer__menu-item"><a href="#" class="footer__link">Blog</a></li>
              <li class="footer__menu-item"><a href="#" class="footer__link">Contato</a></li>
              <li class="footer__menu-item"><a href="#"  class="footer__link">FAQ</a></li>
            </ul>
          </nav>
          <nav class="footer__pages">
            <strong class="footer__titulo">Paginas</strong>
            <ul>
              <li class="footer__menu-item"><a href="#" class="footer__link">Local</a></li>
              <li class="footer__menu-item"><a href="#" class="footer__link">Inova</a></li>
              <li class="footer__menu-item"><a href="#" class="footer__link">Política de Privacidade</a></li>
              <li class="footer__menu-item"><a href="#" class="footer__link">Termos de Serviço</a></li>
            </ul>
          </nav>
          <nav class="footer__legal">
            <strong class="footer__titulo">Assunto jurídico</strong>
            <ul>
              <li class="footer__menu-item"><a href="#" class="footer__link">Sobre Nós</a></li>
              <li class="footer__menu-item"><a href="#" class="footer__link">Blog</a></li>
              <li class="footer__menu-item"><a href="#" class="footer__link">Contato</a></li>
              <li class="footer__menu-item"><a href="#" class="footer__link">FAQ</a></li>
            </ul>
          </nav>
          <div class="clear">

          </div>
        </div>
        <div class="footer__autor">
          <p>Design by <a href="#">@luizsimi</a></p>
        </div>
      </footer>

    </main>

    <script type="text/javascript" src="{% static 'js/swiper.min.js' %}"></script> 
    <script type="text/javascript" src="{% static '/js/posts.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script> 
  </body>
</html>
